/* Universal */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font */
/* Poppins Font */
.poppins-font {
  font-family: "Poppins", sans-serif;
}

/* Primary */
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.button_primary {
  background-color: #dd0000;
  color: #ffffff;
  border-radius: 5px;
  padding: 20px;
}

/* Header Section */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  background-color: black;
  border-radius: 20px;
  margin-top: 50px;
}
.header-content1 {
  color: white;
  margin-top: 141px;
  margin-left: 130px;
  margin-bottom: 111px;
}
.header-content1 h3 {
  font-size: 70px;
  font-weight: bold;
}
.header-content1 p {
  margin-top: 20px;
}
.header-content1 button {
  font-size: 20px;
  font-weight: 500px;
  margin-top: 30px;
}
.header-content1 button i {
  margin-left: 10px;
}
.header-content2 {
  margin-top: 130px;
  margin-right: 70px;
}
.header-content2 img {
  width: 581px;
  height: 613px;
  display: block;
}

/* Media Query */
/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .header-container {
    flex-direction: column;
  }
  .header-content1 {
    margin-left: 50px;
  }
  .header-content1 h3 {
    width: 80%;
  }
  .header-content1 p {
    width: 80%;
  }
  .header-content2 {
    margin-top: -70px;
    margin: auto;
  }
  .header-content-2-image {
    max-width: 100%;
    max-height: 100%;
  }
}
/* Small device */
@media screen and (max-width: 576px) {
  .header-container {
    flex-direction: column;
  }
  .header-content1 {
    margin-left: 30px;
  }
  .header-content2 {
    margin-top: -70px;
    margin: auto;
  }
  .header-content-2-image {
    max-width: 100%;
    max-height: 100%;
  }
}
